.forms-container {
  margin: 20px;
}

.forms-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.forms-subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.survey-card {
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.survey-card h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.survey-card p {
  margin: 5px 0;
}

.survey-card ul {
  margin-top: 5px;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

.survey-card ul li {
  margin-bottom: 5px;
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.form-popup {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 9999;
  width: 60%;
  max-height: 80%;
  overflow-y: auto;
}

.form-popup h3 {
  margin-top: 0;
}

.form-popup label {
  display: block;
  margin-bottom: 5px;
}

.form-popup select {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.form-popup button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-popup button:hover {
  background-color: #45a049;
}

.form-popup button:active {
  background-color: #3d8e41;
}

.add-button {
  margin-top: 20px;
}


.form-popup .close-button {
  width: 30px;
  float: right;
  background-color: red;
}

.form-popup .close-button:hover {
  background-color: darkred;
}
